.PriceTotal {
    font-size: 29px;
    padding-top: 3px;
    color: #ff9c83;
    padding-left: 3px;
}

.PriceWrap {
    font-size: 22px;
}

@media (min-width:768px) and (max-width:1024px)  { 
    .PriceTotal {
        font-size: 25px;
    }    
}
