.DrinkControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Less, .More {
    cursor: pointer;
}

.Label {
    min-width: 100px;
    text-align: center;
}
