.DrinkControl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.Less, .More {
    cursor: pointer;
}

.Label {
    min-width: 105px;
    text-align: center;
}

.Count {
    color: #ff9c83;
    font-size: 15px;
    font-weight: 900;
    background-color: none;
}
