.Burger {
    margin: auto;
    overflow: auto; 
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    max-width: 450px;
}

.List {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ListItem {
    list-style-type: none;
}



