.Burger {
    margin: auto;
    overflow: auto;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    max-width: 450px;
    max-height: 500px;
    overflow: auto;
}

.List {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ListItem {
    list-style-type: none;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .Burger {
        height: 300px;
    }
}



