.BuildControl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.Less, .More {
    cursor: pointer;
}

.Label {
    min-width: 105px;
    text-align: center;
}


@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .BuildControl {
        margin: 10px 0;
    }
}
