.BuildControl {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.Less, .More {
    cursor: pointer;
}

.Label {
    min-width: 96px;
    text-align: center;
}
