@font-face {
  font-family: Stingray;
  src: url("../../../assets/font/stingray.regular.otf") format("opentype");
}

.Toolbar {
  padding: 13px 20px;
}

.Link,
.Brand {
  color: #fff ;
}

.IconToggle {
  border: none;
}

.Brand {
  font-size: 26px;
  letter-spacing: 3px;
  font-family: Stingray;
}

.Toolbar .Brand:hover {
  color: #e25d3b;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.Navbar {
  z-index: 100;
}

.List {
  text-align: center;
  text-transform: uppercase;
}

.List * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.List li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1.2em;
  padding: 0;
}

.List .Link {
  padding: 0 0.6em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
}

.List .Link:before,
.List .Link:after {
  width: 3px;
  height: 0;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  background-color: #e25d3b;
}

.List .Link:before {
  top: 0;
  right: 0;
}

.List .Link:after {
  bottom: 0;
  left: 0;
}

.Toolbar .List .Link:hover:before,
.Toolbar .List .Link:hover:after {
  height: 100%;
}

.Toolbar .List .Link:hover {
  color: #fff;
}

.List .Link {
    font-weight: 400;
    font-size: 16px; 
    letter-spacing: 1px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .Brand {
      font-size: 24px;
    }
  }
