.Home {
    width: 100%;
    height: 100%;
}


.Hero {
    position: absolute;
    top: 0;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    background-image: url('../../assets/hero.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}

.HeroContent {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.HeroContent h1 {
    font-family: 'Montserrat';
    font-size: 60px;
    text-transform: uppercase;
    color: #fff;
}

.Form {
    margin-top: 55px;
}

.OrderBtn {
    border-radius: 26px;
    background: #e25d3b;
    height: 43px;
    width: 143px;
    border: none;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
    padding: 0;
}

.OrderBtn:hover, 
.OrderBtn:active,
.OrderBtn:focus {
    color: #fff;
    background-color: #fd7451;
    border-color: none;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
